html,body{
    height: 100%;
    width: 100%;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
#main{
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}
#left{
    width: 35%;
    height: 100%;
    background-color: #85161dd2;
    color: white;
    position: relative;
    
}
#ltext{
    position: absolute;
    width: 90%;
    top: 5%;
    left: 10%;
}
#ltext h1{
    font-size: 100px;
    line-height: 1;
    margin-bottom: 15px;
}
#ltext span{
    font-weight: 300;
}
#ltext h3{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}
#ltext p{
    width: 65%;
    font-size: 15px;
    line-height: 1.3;
}
#ltext button{
    padding: 20px 30px;
    background: none;
    border: 4px solid white;
    margin-top: 15px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 550;
    color: white;
}
#ltext button:hover{
    background-color: white;
    color: rgb(0, 0, 0);
    border: 4px solid black;
    

}
#btext{
    bottom: 10px;
    width: 100%;
    padding: 20px; 
    background-color: white;
    color: #85161dd2;
    position: absolute;
}
#btext p{
    color: black;
}
#right{
    width: 65%;
    height: 100%;
    position: relative;
    background-color: rgb(184, 180, 180);
}
#right>img{
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(-50%,-50%)rotate(-25deg);
    width: 65%;
}
#rtext {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 38%;
    top: 20%;
}
#rtext h1{
    font-size: 60px;
    color: #85161dd2;
}
#rtext span{
    color: black;
    font-weight: 500;
}
#rtext p{
    margin-top: 5px;

}
#btn button{
    background: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 50px;
    font-weight: 500;
    margin-top: 10px;
}
#btn button:nth-child(1){
    border: 3px solid #85161dd2 ;
}
#btn button:nth-child(2){
    background-color: #85161dd2 ;
    color: white;
    border: 3px solid #85161dd2 ;
}
#select{
    height: 10%;
    width: 100%; 
}
#select h6{
    font-size: 20px;
    margin-top: 10px;
}
#simg{
    margin-top: 10px;
    display: flex;
    gap: 30px;
}
.sample img{
    background-position: center;
    background-size: cover;
    width: 85px;
    height: 85px;
    object-fit: cover;
}